---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm Rum Dum therefore I am Rum??? Which one? Capt. Morgan, Bacardi ??? ",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Rum Dum. Why Rum Dum? Well that goes back to a story I heard or maybe read about Ram Dass.
			Apparently it goes something like, when Ram Dass came back to America his father would refer to him as 
			Rum Dum. Maybe it was spelt differently, but does it matter? I would like to imagine that when Ram Dass
			heard his father call him that, he probably just smilled and maybe laughed to himself about it. 
		</p>
		<p>
			So anyways I decided I wanted to write about stuff and since I have my name attached to other websites,
			I decided to not use my name but as you could probably guess by now, Rum Dum. I would like to think that 
			where ever Ram Dass is, he would get a kick out of it being used. 
		</p>
	</div>
</PageLayout>
